$added-color: #e6fff3;
$diff-marker-added-color: #99ffcf;
$removed-color: #fadede;
$diff-marker-removed-color: #f3aeac;
$text-colour: #0b0c0c;
$light-grey: #f3f2f1;
$black: #0b0c0c;
$comparison-sidebar-width: 40px;
$comparison-sidebar-padding: 15px;
$comparison-sidebar-offset: $comparison-sidebar-width + $comparison-sidebar-padding;

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  // If margin is set to a negative value it can cause text to be announced in
  // the wrong order in VoiceOver for OSX
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;

  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;

  border: 0 !important;

  // For long content, line feeds are not interpreted as spaces and small width
  // causes content to wrap 1 word per line:
  // https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  white-space: nowrap !important;

  // Prevent users from selecting or copying visually-hidden text. This prevents
  // a user unintentionally copying more text than they intended and needing to
  // manually trim it down again.
  user-select: none !important;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  // If margin is set to a negative value it can cause text to be announced in
  // the wrong order in VoiceOver for OSX
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;

  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;

  border: 0 !important;

  // For long content, line feeds are not interpreted as spaces and small width
  // causes content to wrap 1 word per line:
  // https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  white-space: nowrap !important;

  // Prevent users from selecting or copying visually-hidden text. This prevents
  // a user unintentionally copying more text than they intended and needing to
  // manually trim it down again.
  user-select: none !important;

}

.compare-editions {
  position: relative;
  border-left: $comparison-sidebar-width solid $light-grey;
  padding: $comparison-sidebar-padding;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  td::before {
    // Backup to handle any inputted classes which make use of a ::before attached to a td element
    // unsetting all styles for it will prevent it interfering with the ::before that we need to use
    // for the diff marker
    all: unset;
  }

  .diff {
    position: static;
    margin-bottom: 10px;

    &.del, &.ins {
      &:is(li){ display: list-item; }

      position: relative;
      display: block;
      text-decoration: none;
      background-color: transparent;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -$comparison-sidebar-padding;
      min-height: 1.5em;
      right: 0;
      // width: 100vw;
      display: block;
      z-index: -1;
    }

    &.del {
      &::after { background-color: $removed-color; }

      span.diff-marker {
        background-color: $diff-marker-removed-color;
        border-bottom: 2px dashed $black;
      }
    }

    &.ins {
      &::after { background-color: $added-color; }

      span.diff-marker {
        background-color: $diff-marker-added-color;
        border-bottom: 2px dashed $black;
      }
    }

    &::before {
      // Some govuk styles use ::before in ways we need to override to make this work
      border-radius: unset !important;
      border: unset !important;

      position: absolute;
      top: 0;
      left: -$comparison-sidebar-offset;
      width: $comparison-sidebar-width;
      height: 100%;
      min-height: 1.5em;
      line-height: 1.5em;
      text-align: center;
      font-weight: normal;
      z-index: 10;
    }

    &.del::before {
      color: $text-colour;
      background-color: $diff-marker-removed-color;
      content: "−" !important;
    }

    &.ins::before {
      color: $text-colour;
      background-color: $diff-marker-added-color;
      content: "+" !important;
    }
  }

  // Govspeak-specific overrides
  .gem-c-govspeak & {
    &::before { min-height: 5em; }
  }

  .diff .gem-c-button.govuk-button{
    margin-top: 22px;
  }

  .form-download .diff {
    padding-top: 10px;
    padding-bottom: 3px;
  }

  // Inset/callout elements overrides

  .address, .contact {
    .diff{
      $address-offset: -16px;

      &::after {
        left: -$comparison-sidebar-padding + $address-offset;
      }

      &::before {
        left: -$comparison-sidebar-offset + $address-offset;
      }
    }
  }

  .help-notice {
    $help-notice-offset: -45px;

    &:before {
      display: none;
    }

    p {
      position: relative;

      &:before {
        content: "!";
        font-weight: 700;
        border-radius: 50%;
        color: var(--govuk-body-background-colour, #ffffff);
        background: var(--govuk-text-colour, #0b0c0c);
        font-size: 30px;
        line-height: 29px;
        text-align: center;
        position: absolute;
        top: calc(50% - 17.5px);
        left: $help-notice-offset;
        min-width: 35px;
        min-height: 35px;
      }
    }

    .diff {
      &::after, &::before {
        top: -15px;
        min-height: calc(1.5em + 30px);
        left: -$comparison-sidebar-padding + $help-notice-offset;
      }

      &::before {
        left: -$comparison-sidebar-offset + $help-notice-offset;
      }
    }

    // p:nth-child(n+2) .diff {
    //   &::after, &::before {
    //     top: -10px;
    //   }
    // }
  }

 .example, .info-notice {
   $callout-parent-offset: -10px;
   $callout-child-offset: -30px;

   &.diff {
     &::after {
       left: -$comparison-sidebar-padding + $callout-parent-offset;
     }

     &::before {
       left: -$comparison-sidebar-offset + $callout-parent-offset;
     }
   }

   .diff {
     &::after {
       left: -$comparison-sidebar-padding + $callout-child-offset;
     }

     &::before {
       left: -$comparison-sidebar-offset + $callout-child-offset;
     }
    }
  }

  // List-specific overrides for non-govuk lists
  $non-govuk-list-offset: -40px;

  li span.diff, ul span.diff{
    &::after {
      left: -$comparison-sidebar-padding + $non-govuk-list-offset;
    }

    &::before {
      left: -$comparison-sidebar-offset + $non-govuk-list-offset;
    }
  }

  // List-specific overrides for govuk lists as we apply a non-standard offset to lists
  $govuk-list-offset: -20px;

  .gem-c-govspeak & {
    ul li span.diff, ul span.diff {
      &::after {
        left: -$comparison-sidebar-padding + $govuk-list-offset;
      }

      &::before {
        left: -$comparison-sidebar-offset + $govuk-list-offset;
      }
    }

    ol li span.diff {
      list-style-type: decimal;

      //&::marker {
      //  background-color: #0b0c0c;
      //  border-radius: 50%;
      //}

      &::after {
        left: $comparison-sidebar-padding;
      }

      &::before {
        left: $comparison-sidebar-offset;
      }
    }

    ol:not(.steps) span.diff {
       &::before {
        left: -75px;
      }

      &::after {
        left: -75px;
      }
    }

    //govuk "steps"-style ol overrides
    $steps-list-offset: -48px;

    ol.steps {
      counter-reset: custom-count 0;
      li{
        display: list-item;
        //list-style-type: decimal;
        list-style-type: none;
        padding-left: 0.25em;
        margin-left: 2.25em;
        width: calc(100% - 2.25em);

        //&::before {
        //  display: none;
        //}
        &::after { left: -$comparison-sidebar-padding + $steps-list-offset !important; }
        &::before {
          //content: "#.";
          background-color: #0b0c0c;
          border-radius: 50%;
          color: #fff;
          counter-increment: custom-count;
          content: counter(custom-count);
          float: left;
          font-size: 80%;
          height: 1.75em;
          //left: .3em;
          left: -40px;
          line-height: 1.75em;
          position: absolute;
          text-align: center;
          top: .9em;
          width: 1.75em;
        }
      }

      li span.diff {
        &::marker { content: unset; }
        &::before {
          top: -2px;
          left: -$comparison-sidebar-offset + $steps-list-offset;
          height: 100%;
          width: $comparison-sidebar-width;
          min-height: 1.6em;
        }
        &::after {
          top: -2px;
          left: -$comparison-sidebar-padding + $steps-list-offset;
          min-height: 1.6em;
        }
      }
    }
  }

  // Table-specific overrides
  $table-row-offset: -2px;

  table {
    overflow-x: visible;
  }

  // This element is generated before new tables
  // We need to remove it from the display and
  // style the table that follows it as a new element
  & > span.diff.ins {
    display: none;

    & + table {
      position: relative;
      background: $added-color;
      padding-left: $comparison-sidebar-padding;
      margin-left: -$comparison-sidebar-padding;
      width: calc(100% + $comparison-sidebar-padding);

      &:before {
        content: "+";
        position: absolute;
        left: -$comparison-sidebar-width;
        width: $comparison-sidebar-width;
        height: 100%;
        min-height: 1.5em;
        line-height: 1.5em;
        text-align: center;
        z-index: 10;
        background: $diff-marker-added-color;
      }
    }
  }

  tr.diff {
    position: static;
    // display: table-row;
    transform: scale(1);

    &.del, &.ins {
      display: table-row;
    }

    &.del::after, &.ins::after {
      left: -$comparison-sidebar-padding + $table-row-offset;
      // Need to account for border in row element
      height: 100%;
      top: 1px;
    }

    // Attaching a ::before psuedoelement to a <tr> creates a phantom column so we need to hide it
    // and instead attach one to the first-child <td>
    &::before {
      display: none;
    }

    td:first-child::before, th:first-child::before {
      position: absolute;
      left: -$comparison-sidebar-offset;
      width: $comparison-sidebar-width;
      height: 100%;
      min-height: 1.5em;
      top: 1px;
      line-height: 1.5em;
      text-align: center;
      z-index: 10;
    }

    &.del td:first-child::before, &.del th:first-child::before {
      color: $text-colour;
      background-color: $diff-marker-removed-color;
      content: "−";
    }

    &.ins td:first-child::before, &.ins th:first-child::before {
      color: $text-colour;
      background-color: $diff-marker-added-color;
      content: "+";
    }
  }
}